<h1>Professors</h1>

<% @professors.each do |professor| %>
    <p>
    Name: <%= professor.name %> <br>
    Age: <%= professor.age %> <br>
    Specialty: <%= professor.specialty %> <br>
    </p>

<% end %>